*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif;
}

html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background: linear-gradient(135deg,rgb(52, 252, 52), rgb(255, 39, 255));
}

@media (max-width:480px) {
    
    body{
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
    }

    .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: rgba(250, 230, 230, 0.25) 0px 54px 55px;
        background: linear-gradient(135deg,rgb(5, 248, 5), rgb(163, 54, 163));
        background-repeat: no-repeat;
        height: 95%;
        width: 95%;
        color: #fff;
        margin: 0;
        border-radius: 20px;
        padding: 0;
        text-align: center;
    }

    .search{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .search input{
        border: 0;
        outline: 0;
        color:#555;
        height: 100%;
        width: 70%;
        border-radius: 30px;
        background: #ebfffc;
        flex: 1;
        margin-right: 0;
        font-size: 1.25rem;
        padding: 15px;
    }

    .search button{
        border: 0;
        background: #ebfffc;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        border-radius: 50%;
    }
    
    .search button img{
        width: 1rem;
    }
    
    .error{
        display: none;
    }

    .details{
        display: flex;
        align-items: center;
        height: 40%;
        justify-content: space-between;
        padding: 0 10px;
        margin: 0;
    }

    .weather{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 75%;
        width: 80%;
    }
    .weather-display{
        height: 50%;
    }
    .weather h1{
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    .weather h2{
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 5px;
    }
    
    .weather-icon{
        height: 10rem;
        width: auto;
        object-fit: contain;
    }

    .col p{
        font-size: 1rem;
        padding-top: 5px;
    }
}

/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
} */

@media (min-width:481px) {
    .container{
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .card{
        box-shadow: rgba(250, 230, 230, 0.25) 0px 54px 55px;
        background: linear-gradient(135deg,rgb(5, 248, 5), rgb(163, 54, 163));
        background-repeat: no-repeat;
        max-width: 470px;
        width: 80%;
        color: #fff;
        margin: 25px auto 0;
        border-radius: 20px;
        padding: 40px 35px;
        text-align: center;
    }
    
    .search{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .search input{
        border: 0;
        outline: 0;
        color:#111010;
        height: 60px;
        border-radius: 30px;
        background: #ebfffc;
        flex: 1;
        margin-right: 16px;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 25px;
    }

    .search input::placeholder{
        color: black;
    }
    
    .search button{
        border: 0;
        background: #ebfffc;
        width: 60px;
        height: 60px;
        cursor: pointer;
        border-radius: 50%;
    }
    
    .search button i{
        font-size: 1.5rem;
        color: black;
    }
    
    .error{
        display: none;
    }
    
    .details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin: 25px
    }
    
    .weather-icon{
        height: 10rem;
        object-fit: contain;
    }
    .weather h1{
        font-size: 60px;
        font-weight: 500;
    }
    
    .weather h2{
        font-size: 45px;
        font-weight: 400;
        margin-top: -10px;
    }
    
    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .col img{
        width: 40px;
        height: auto;
        object-fit: fill;
        margin-right:  10px;
    }
    
    .humidity, .wind{
        height: 40%;
        font-size: 29px;
        margin-top: 6px;
    }
    
    .weather{
        display:none;
    }
}